@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
/*palette: https://huemint.com/brand-intersection/#palette=212121-e8e6d5-a1b4b6-338a97 */
.fira-mono-regular {
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


.fira-mono-medium {
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

.fira-mono-bold {
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    font-style: normal;
}


:root{
    --background-color: rgb(41, 45, 65);
    --circle-color: rgba(115, 133, 152, 0.1);
    --text-color: rgb(223, 226, 226);
    --accent-color: rgb(28, 179, 200);
}

html {
    font-family: "Cascadia Code", sans-serif;
    background-color: var(--background-color);
    transition : background-color 0.5s;
    margin: 0;
    padding: 0;

}

body{
    width: auto;
    height: 100%;
    margin: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
    min-height: 90vh;
    background:
        radial-gradient(circle at 10% 25%, var(--circle-color) 0%, transparent 300px),
        radial-gradient(circle at 20% 70%, var(--circle-color) 0%, transparent 100px),
        radial-gradient(circle at 80% 80%, var(--circle-color) 0%, transparent 200px),
        var(--background-color);
}
.light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.columns{
    max-width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
}

@media (max-width: 768px) {
    .columns {
        grid-template-columns: 1fr;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
}
h1 {
    font-size: 2.5rem;
    color: var(--accent-color);
    margin: 0;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.2rem;
    color: var(--accent-color);
    margin: 0;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    font-family:     "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--text-color);
    margin: 0;
    margin-bottom: 1rem;
}