@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
/*palette: https://huemint.com/brand-intersection/#palette=212121-e8e6d5-a1b4b6-338a97 */
.fira-mono-regular {
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


.fira-mono-medium {
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

.fira-mono-bold {
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    font-style: normal;
}


:root{
    --background-color: rgb(18, 22, 40);
    --circle-color: rgba(115, 133, 152, 0.2);
    --text-color: rgb(175, 177, 177);
    --accent-color: rgb(140, 217, 228);
    --box-color: rgba(20, 109, 121, 0.1);
    --unhiglighted-color: rgba(49, 49, 49, 1);
    --higlighted-color: rgb(17, 98, 109);
    --tag-background-color: rgba(28, 179, 200, 0.2);
    --tag-text-color: rgb(28, 179, 200);
}

html {
    font-family: Inter, sans-serif;
    background-color: var(--background-color);
    transition : background-color 0.5s;
    margin: 0;
    padding: 0;

}

body{
    width: auto;
    height: 100%;
    margin: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
    min-height: 90vh;
    background:
        radial-gradient(circle at 10% 25%, var(--circle-color) 0%, transparent 300px),
        radial-gradient(circle at 30% 100%, var(--circle-color) 0%, transparent 500px),
        radial-gradient(circle at 90% 80%, var(--circle-color) 0%, transparent 250px),
        var(--background-color);
}
.light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 0;
}
.columns{
    max-width: 1080px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5rem;
    z-index: 2;
}

main {
    overflow-y: auto; /* Permite scroll solo cuando es necesario */
    max-height: calc(90vh - 10vh); /* Ajusta la altura máxima según tu diseño */
    padding-top: 1rem; /* Ajusta según tu diseño */
    scrollbar-width: none; /* Oculta el scrollbar en Firefox */
    -ms-overflow-style: none; /* Oculta el scrollbar en IE/Edge */
    grid-column: 3 / span 3;
}
main::-webkit-scrollbar {
    display: none; /* Oculta el scrollbar en Chrome, Safari, y Opera */
}

section {
    margin-bottom: 7rem;
}

header{
    position: sticky;
    grid-column: 1 / span 2;
}

@media (max-width: 768px) {
    .columns {
        grid-template-columns: 1fr;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
}
h1 {
    font-family: "Fira Mono", monospace;
    font-size: 3rem;
    color: var(--accent-color);
    margin: 0;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    color: whitesmoke;
    margin: 0;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.1rem;
    color: whitesmoke;
    margin: 0;
    margin-bottom: 0.5rem;

}

h4 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

p, a {
    font-size: 1rem;
    font-family:   Inter, sans-serif;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 1rem;
}




nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    
}

nav li{
    padding-bottom: 0.5rem;
}

nav li canvas {
    width: 1rem;
    height: 3px;
    margin-right: 0.1rem;
    border-radius: 1px;
    background-color: var(--text-color);
    transition: width 0.5s ease, background-color 0.5s ease;
    margin-bottom: 0.22rem;
}



nav a {
    text-decoration: none;
    text-align: center;
    transition: font-weight 0.5s ease,
                color 0.5s ease,
                font-size 0.5s ease;
}

/* Efecto hover para li */
nav li:hover canvas {
    width: 2rem; /* Cambia el ancho del canvas */
    background-color: var(--accent-color); /* Cambia el color de fondo del canvas */
}

nav li:hover a {
    color: var(--accent-color); /* Cambia el color del texto */
    font-weight: 700; /* Cambia el grosor de la fuente */
    font-size: large; /* Cambia el tamaño de la fuente */
}

.selected-index canvas {
    width: 2rem;
    background-color: var(--accent-color);
}

.selected-index a {
    color: var(--accent-color);
    font-weight: 700;
    font-size: large;
}


.contact{
    position: fixed;
    bottom: 0;
}


.contact ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    height: 100%;
}

.contact li {
    display: inline-block; /* Hace que los elementos <li> se muestren en línea */
    width: 2rem;
    margin : 0.2rem;
}

.block {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 1vw;
    background-color: transparent;
    transition: background-color 0.5s ease,
                filter 0.5s ease;
    padding: 10px;
    margin-bottom: 1vw;
}

.block p{
    font-size: 0.9rem;
}

.hovered {
    background-color: var(--box-color);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.hovered img {
    border: 2px solid var(--accent-color) !important; 
}

.not-hovered {
    filter: opacity(0.5);
}


.block img {
    margin: 0;
    margin-top: 0.3rem;
    width: 100%;
    height: auto;
    grid-column: 1 / span 3;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 2px solid var(--unhiglighted-color);

    transition: border 0.5s ease;
}

.block-info {
    grid-column: 4 / span 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block-info h3 {
    margin: 0;
}
.block-info h4{
    margin: 0;
    margin-bottom: 0.5rem;

}
/*project link es un anchor*/
.block-link{
    text-decoration: none;
}


/*project tags es un ul*/
.block-tags{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.block-tag {
    background-color: var(--tag-background-color);
    color: var(--tag-text-color);
    padding: 0.2rem 0.5rem;
    border-radius: 50px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-family: "Fira Mono", monospace;
    font-weight: 500;
}


.experience-date {
    grid-column: 1 / span 3;
    font-size: 0.8rem;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 0.5rem;
}